## Pandas 기초 

- pandsas는 R의 핵심 데이터 시리즈와 프레임을 파이썬에 추가한 것이다.
- numpy를 기반으로 구현되었고, numpy 대비 기능을 더 확장하여 재구현한것
- Python Data Analysis Library
    + https://pandas.pydata.org

In [1]:
import numpy as np
import pandas as pd

## 파이썬의 자료구조

- 수치형, 문자열, 리스트, 딕셔너리, 튜플, 집합, 블린  

## numpy의 자료구조

- ndarray(배열) : 배열의 데이터는 모든 같은 타입이다.

## pandas의 자료구조

- Series(시리즈), DataFrame(데이터프레임)  

- DataFrame의 인덱싱 -> Series의 인덱싱 -> 값(스칼라), 수치, 문자, 블린, NaN 이 등장  
- Series: 인덱스와 데이터만 존재하는, 컬럼이 없는 자료구조  
- DataFrame: 인덱스와 컬럼이 존재하는 자료구조

### 결측값
- NaN : 데이터가 없다. (난, 넌), Not a Number => np.nan

In [2]:
# series
# 데이터를 정수로 넣었으나 기본형으로 float64가 반영되었다.
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
# 속성-타입
s.dtype

dtype('float64')

In [5]:
# 속성-크기
s.shape
# 1차원데이터로 총6개의 데이터가 존재

(6,)

In [6]:
# DataFrame
# 인덱스와 컬럼이 존재하는 자료구조
cols   = list('ABCD') # ['A','B','C','D']
indexs = pd.date_range('20190812', periods=7)

# 컬럼 4개, 인덱스 7개
cols, indexs

(['A', 'B', 'C', 'D'],
 DatetimeIndex(['2019-08-12', '2019-08-13', '2019-08-14', '2019-08-15',
                '2019-08-16', '2019-08-17', '2019-08-18'],
               dtype='datetime64[ns]', freq='D'))

In [7]:
# 데이터는 shape => (7,4)
datas = np.random.randn(7,4)
datas, datas.shape

(array([[-0.9362263 ,  1.67314147, -0.8894701 , -0.82115808],
        [-0.6128375 ,  0.65047414, -0.60523238, -2.01869234],
        [ 0.84736246,  0.15148148,  0.90968612, -0.75838229],
        [ 0.19352527, -1.25555732,  0.49233354, -0.15449815],
        [ 0.32460286,  2.1503056 , -0.41620876, -0.13862482],
        [-1.25768262,  0.25567388, -0.4409155 ,  0.78621552],
        [ 0.30211332,  0.14613594,  1.59568586, -0.84864596]]),
 (7, 4))

In [8]:
# df 생성
df = pd.DataFrame( datas, index=indexs, columns=cols)
df

                   A         B         C         D
2019-08-12 -0.936226  1.673141 -0.889470 -0.821158
2019-08-13 -0.612838  0.650474 -0.605232 -2.018692
2019-08-14  0.847362  0.151481  0.909686 -0.758382
2019-08-15  0.193525 -1.255557  0.492334 -0.154498
2019-08-16  0.324603  2.150306 -0.416209 -0.138625
2019-08-17 -1.257683  0.255674 -0.440915  0.786216
2019-08-18  0.302113  0.146136  1.595686 -0.848646

- **데이터가 로드된후 DataFrame을 만든후 점검할 사항**

In [9]:
df.head(3)

                   A         B         C         D
2019-08-12 -0.936226  1.673141 -0.889470 -0.821158
2019-08-13 -0.612838  0.650474 -0.605232 -2.018692
2019-08-14  0.847362  0.151481  0.909686 -0.758382

In [10]:
df.tail(2)

                   A         B         C         D
2019-08-17 -1.257683  0.255674 -0.440915  0.786216
2019-08-18  0.302113  0.146136  1.595686 -0.848646

In [11]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
df.index

DatetimeIndex(['2019-08-12', '2019-08-13', '2019-08-14', '2019-08-15',
               '2019-08-16', '2019-08-17', '2019-08-18'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.values

array([[-0.9362263 ,  1.67314147, -0.8894701 , -0.82115808],
       [-0.6128375 ,  0.65047414, -0.60523238, -2.01869234],
       [ 0.84736246,  0.15148148,  0.90968612, -0.75838229],
       [ 0.19352527, -1.25555732,  0.49233354, -0.15449815],
       [ 0.32460286,  2.1503056 , -0.41620876, -0.13862482],
       [-1.25768262,  0.25567388, -0.4409155 ,  0.78621552],
       [ 0.30211332,  0.14613594,  1.59568586, -0.84864596]])

In [14]:
type(df.values)

numpy.ndarray

In [15]:
df.shape

(7, 4)

In [16]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [17]:
# df의 개요
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7 entries, 2019-08-12 to 2019-08-18
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       7 non-null      float64
 1   B       7 non-null      float64
 2   C       7 non-null      float64
 3   D       7 non-null      float64
dtypes: float64(4)
memory usage: 280.0 bytes

In [18]:
# 통계요약 : 개수, 평균, 표준편차, 최소, 25%, 50%, 75%, 최대
df.describe()

              A         B         C         D
count  7.000000  7.000000  7.000000  7.000000
mean  -0.162735  0.538808  0.092268 -0.564827
std    0.774660  1.118051  0.920293  0.863402
min   -1.257683 -1.255557 -0.889470 -2.018692
25%   -0.774532  0.148809 -0.523074 -0.834902
50%    0.193525  0.255674 -0.416209 -0.758382
75%    0.313358  1.161808  0.701010 -0.146561
max    0.847362  2.150306  1.595686  0.786216

In [19]:
# B열 기준 데이터를 정렬, 내림차순
df.sort_values( by='B', ascending=False )

                   A         B         C         D
2019-08-16  0.324603  2.150306 -0.416209 -0.138625
2019-08-12 -0.936226  1.673141 -0.889470 -0.821158
2019-08-13 -0.612838  0.650474 -0.605232 -2.018692
2019-08-17 -1.257683  0.255674 -0.440915  0.786216
2019-08-14  0.847362  0.151481  0.909686 -0.758382
2019-08-18  0.302113  0.146136  1.595686 -0.848646
2019-08-15  0.193525 -1.255557  0.492334 -0.154498

In [20]:
# 특정 컬럼의 데이터만 보기 => 인덱싱 => 차원축소
df['C'], type(df['C'])

(2019-08-12   -0.889470
 2019-08-13   -0.605232
 2019-08-14    0.909686
 2019-08-15    0.492334
 2019-08-16   -0.416209
 2019-08-17   -0.440915
 2019-08-18    1.595686
 Freq: D, Name: C, dtype: float64,
 pandas.core.series.Series)

In [21]:
# 슬라이싱 : 차원유지
df[:] # 카피동일

                   A         B         C         D
2019-08-12 -0.936226  1.673141 -0.889470 -0.821158
2019-08-13 -0.612838  0.650474 -0.605232 -2.018692
2019-08-14  0.847362  0.151481  0.909686 -0.758382
2019-08-15  0.193525 -1.255557  0.492334 -0.154498
2019-08-16  0.324603  2.150306 -0.416209 -0.138625
2019-08-17 -1.257683  0.255674 -0.440915  0.786216
2019-08-18  0.302113  0.146136  1.595686 -0.848646

In [51]:
# 데이터가 슬라이싱 되서 나온다 => 차원을 유지해야 하니까
# a <= x <b
df[1:3]

                   A         B         C         D
2019-08-13  0.127024 -0.396848 -1.135956 -0.018935
2019-08-14  0.127899 -1.379064 -0.961807  0.431541

In [22]:
# 슬라이싱 >>> 인덱스값이 아닌, 실제값으로 자르기
# a <= x <=b
df[ '2019-08-13' : '2019-08-15' ]

                   A         B         C         D
2019-08-13 -0.612838  0.650474 -0.605232 -2.018692
2019-08-14  0.847362  0.151481  0.909686 -0.758382
2019-08-15  0.193525 -1.255557  0.492334 -0.154498

- 전통적인 인덱싱와 슬라이싱을 진행하면 표현의 한계점에 도달
- 이를 극복하기 위해서 pandas 만의 데이터 추출법이 추가가 되었다 
- loc, iloc <= 2개를 주로 사용한다.
- 연속데이터에 대한 추출 <-> 비연속 데이터들의 추출법 (펜시인덱싱, 쿼리수행등등)

## loc

- loc : location 정보를 옵션으로 슬라이싱을 지원
-  loc을 통한 데이터 추출
- `df.loc[ 인덱스명 ]`

In [23]:
df.loc[ '2019-08-12' ], type(df.loc[ '2019-08-12' ])

(A   -0.936226
 B    1.673141
 C   -0.889470
 D   -0.821158
 Name: 2019-08-12 00:00:00, dtype: float64,
 pandas.core.series.Series)

In [24]:
# 원본카피
df.loc[ : ]

                   A         B         C         D
2019-08-12 -0.936226  1.673141 -0.889470 -0.821158
2019-08-13 -0.612838  0.650474 -0.605232 -2.018692
2019-08-14  0.847362  0.151481  0.909686 -0.758382
2019-08-15  0.193525 -1.255557  0.492334 -0.154498
2019-08-16  0.324603  2.150306 -0.416209 -0.138625
2019-08-17 -1.257683  0.255674 -0.440915  0.786216
2019-08-18  0.302113  0.146136  1.595686 -0.848646

In [25]:
# 인덱스쪽은 전부 포함시키고(1차원), 컬럼은 A,C만 포함(2차원)
df.loc[ : , ['A','C'] ]

                   A         C
2019-08-12 -0.936226 -0.889470
2019-08-13 -0.612838 -0.605232
2019-08-14  0.847362  0.909686
2019-08-15  0.193525  0.492334
2019-08-16  0.324603 -0.416209
2019-08-17 -1.257683 -0.440915
2019-08-18  0.302113  1.595686

In [ ]:
### 중요

In [26]:
# 차원축소
df.loc[ : , 'A' ]

2019-08-12   -0.936226
2019-08-13   -0.612838
2019-08-14    0.847362
2019-08-15    0.193525
2019-08-16    0.324603
2019-08-17   -1.257683
2019-08-18    0.302113
Freq: D, Name: A, dtype: float64

In [27]:
# 차원유지 -> 차이는 [] 여부 
df.loc[ : , ['A'] ]

                   A
2019-08-12 -0.936226
2019-08-13 -0.612838
2019-08-14  0.847362
2019-08-15  0.193525
2019-08-16  0.324603
2019-08-17 -1.257683
2019-08-18  0.302113

In [28]:
df.loc[ '2019-08-13':'2019-08-15' , ['A','C'] ]

                   A         C
2019-08-13 -0.612838 -0.605232
2019-08-14  0.847362  0.909686
2019-08-15  0.193525  0.492334

### 주의 

```py
# error
df.loc[ ['2019-08-13'] , ['A','C'] ]

# error
df.loc[ ['2019-08-13':'2019-08-13'] , ['A','C'] ]
```

In [30]:
df.loc['2019-08-13':'2019-08-13' , ['A','C']]

                   A         C
2019-08-13 -0.612838 -0.605232

In [34]:
# 차원축소 -> 인덱스를 한개만 지정
df.loc['2019-08-13', ['A','C']]

A   -0.612838
C   -0.605232
Name: 2019-08-13 00:00:00, dtype: float64

In [35]:
# 차원축소가 2회 진행 -> 스칼라(값)
df.loc['2019-08-13', 'A']

-0.6128375007630857

## iloc

- 펜시인덱싱과 유사하다.
- 행과 열의 번호를 이용하여 데이터를 접근하는 방식이다.
- i -> index

In [38]:
# 2019-08-13일자 데이터 추출
# 1 => 인덱스값이 1인 데이터
df.iloc[1]

A   -0.612838
B    0.650474
C   -0.605232
D   -2.018692
Name: 2019-08-13 00:00:00, dtype: float64

In [39]:
# iloc 슬라이싱
# a <= index < b, c <= column < d
df.iloc[1:3, 1:3]

                   B         C
2019-08-13  0.650474 -0.605232
2019-08-14  0.151481  0.909686

In [43]:
# iloc + 펜시인덱싱 기법 사용(인덱스, 컬럼을 비연속적 위치를 나열)
df.iloc[[1,4,2],[0,2]]

                   A         C
2019-08-13 -0.612838 -0.605232
2019-08-16  0.324603 -0.416209
2019-08-14  0.847362  0.909686

- 특정조건에 만족하는 데이터만 추출한다.
- 데이터프레임이 생성되면 컬럼명은 멤버변수로 자동생성된다. 
- C 컬럼에 존재하는 데이터중에 양수만(양수면 True, 0이하면 False)
조건을 부여하여 불리언 데이터를 만들어 참만 포함시키는 방식 : 불리언 인덱싱
- [ T, F, F, F, T, T, T ] 데이터를 and하면 참만 살아남아서 아래과 같은 결과를 확인 가능하다. 
- df에 식을 치면 => 전체 구성원에 전부다 연산이 진행된다 
- 행렬(연산) 값 => 각 구성원에 일일이 다 연산하는것과 동일

In [44]:
df[df.C > 0]

                   A         B         C         D
2019-08-14  0.847362  0.151481  0.909686 -0.758382
2019-08-15  0.193525 -1.255557  0.492334 -0.154498
2019-08-18  0.302113  0.146136  1.595686 -0.848646

In [45]:
# 데이터 전체를 기준으로 0보다 큰가? 0보다 같거나 작은 데이터들은? NaN 대체
df[df > 0 ]

                   A         B         C         D
2019-08-12       NaN  1.673141       NaN       NaN
2019-08-13       NaN  0.650474       NaN       NaN
2019-08-14  0.847362  0.151481  0.909686       NaN
2019-08-15  0.193525       NaN  0.492334       NaN
2019-08-16  0.324603  2.150306       NaN       NaN
2019-08-17       NaN  0.255674       NaN  0.786216
2019-08-18  0.302113  0.146136  1.595686       NaN

In [46]:
# 복사 
df.copy(), df[:]

(                   A         B         C         D
 2019-08-12 -0.936226  1.673141 -0.889470 -0.821158
 2019-08-13 -0.612838  0.650474 -0.605232 -2.018692
 2019-08-14  0.847362  0.151481  0.909686 -0.758382
 2019-08-15  0.193525 -1.255557  0.492334 -0.154498
 2019-08-16  0.324603  2.150306 -0.416209 -0.138625
 2019-08-17 -1.257683  0.255674 -0.440915  0.786216
 2019-08-18  0.302113  0.146136  1.595686 -0.848646,
                    A         B         C         D
 2019-08-12 -0.936226  1.673141 -0.889470 -0.821158
 2019-08-13 -0.612838  0.650474 -0.605232 -2.018692
 2019-08-14  0.847362  0.151481  0.909686 -0.758382
 2019-08-15  0.193525 -1.255557  0.492334 -0.154498
 2019-08-16  0.324603  2.150306 -0.416209 -0.138625
 2019-08-17 -1.257683  0.255674 -0.440915  0.786216
 2019-08-18  0.302113  0.146136  1.595686 -0.848646)

In [48]:
# 기존 데이터 df에 새로운 컬럼을 추가한다 !! (아주 중요) => 파생변수
# 기존 df의 1차원과 동수의 데이터가 존재해야한다.
# 데이터는 리스트 ok, Series도 ok
new_data = ['one','one','two','three','four','three','five']
df['E'] = new_data # 데이터 추가, 대상[신규컬럼명] = 데이터
df.head(2)

                   A         B         C         D    E
2019-08-12 -0.936226  1.673141 -0.889470 -0.821158  one
2019-08-13 -0.612838  0.650474 -0.605232 -2.018692  one

In [70]:
# 데이터 조사 - 값의 여부 확인 
# 안에 그런값이 있는가?  
df['E'].isin( ['two','four'])

2019-08-12    False
2019-08-13    False
2019-08-14     True
2019-08-15    False
2019-08-16     True
2019-08-17    False
2019-08-18    False
Freq: D, Name: E, dtype: bool

In [49]:
df[df['E'].isin(['two','four'])]

                   A         B         C         D     E
2019-08-14  0.847362  0.151481  0.909686 -0.758382   two
2019-08-16  0.324603  2.150306 -0.416209 -0.138625  four

In [72]:
# 누적합
# apply( 함수를 표현 ) => 멤버들을 다 건드린다.
# -> E를 보면 이해가 쉽다 !
df.apply(np.cumsum)

,A,B,C,D,E
2019-08-12,-0.986232,0.210793,0.248451,0.518318,one
2019-08-13,-0.859208,-0.186055,-0.887505,0.499384,oneone
2019-08-14,-0.731309,-1.565119,-1.849312,0.930925,oneonetwo
2019-08-15,-0.477442,-1.713533,-0.749281,2.008455,oneonetwothree
2019-08-16,-0.880496,-2.989606,-0.362545,1.854163,oneonetwothreefour
2019-08-17,-1.071790,-3.160967,-0.286361,1.705458,oneonetwothreefourthree
2019-08-18,-2.132921,-3.240000,0.150089,0.753742,oneonetwothreefourthreefive

In [50]:
try:    
    # 제거
    df.drop(['E'],inplace=True,axis=1)
    df
except Exception as e:
    pass

In [51]:
# 각 컬럼의 최대값에서 최소값을 뺀 값 => 거리:distance
# 람다 함수 이용 
df.apply(lambda x:x.max()-x.min())

A    2.105045
B    3.405863
C    2.485156
D    2.804908
dtype: float64

In [52]:
df.max(), df.min()

(A    0.847362
 B    2.150306
 C    1.595686
 D    0.786216
 dtype: float64,
 A   -1.257683
 B   -1.255557
 C   -0.889470
 D   -2.018692
 dtype: float64)